body {
  margin-top: 70px;
}

.jumbotron {
    margin-bottom: 0px;
    background: url('../images/software.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.logo-large {
  width: 200px;
}

.logo {
  width: 100px;
}

.icon {
  width: 50px;
}